# Tableau Prep
***
Create one clean csv file with overall and daily stats to be used in Tableau training.

In [3]:
import pandas as pd
%load_ext sql

%load_ext autoreload
%autoreload 2

In [4]:
# function for querying db
from src.data.query_db import queryDB
qdb = queryDB('sqlite','../data/processed/covid.sqlite')

sqlite:///../data/processed/covid.sqlite

In [5]:
# quick check
qdb.execute_query('SELECT * FROM stats LIMIT 2;')

2 rows affected

       country       date  confirmed  death  recovered
0  Afghanistan 2020-01-22          0      0          0
1      Albania 2020-01-22          0      0          0

In [6]:
qdb.engine.table_names()

['country', 'daily_stats', 'exp_stats', 'populations', 'stats']

#### Data Collection
***

In [34]:
query = """
SELECT st.country,
       st.date,
       pop.population,
       st.confirmed AS confirmed_cum,
       st.death AS death_cum,
       st.recovered AS recovered_cum,
       ds.confirmed AS confirmed_new,
       ds.death AS death_new,
       ds.recovered AS recovered_new
  FROM stats AS st
       LEFT JOIN daily_stats AS ds
         ON st.country = ds.country AND DATE(st.date) = DATE(ds.date)
            LEFT JOIN populations AS pop
              ON st.country = pop.country;
"""
df_out = qdb.execute_query(query)

22940 rows affected

In [35]:
df_out.to_csv('../data/processed/tableau_extract.csv', index=False)