# EDA Covid 19
***

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set()

from sqlalchemy import create_engine
%load_ext sql

%load_ext autoreload
%autoreload 2

## 1. Load Data
***

In [11]:
%%sql sqlite:///../data/processed/covid.sqlite
-- Australia last 5 days
SELECT 
    country,
    DATE(date) AS date,
    confirmed,
    death,
    recovered
FROM stats
WHERE country = 'Australia'
ORDER BY date DESC
LIMIT 5;

Done.

[('Australia', '2020-05-07', 6913, 97, 6078),
 ('Australia', '2020-05-06', 6894, 97, 6031),
 ('Australia', '2020-05-05', 6875, 97, 5975),
 ('Australia', '2020-05-04', 6847, 96, 5887),
 ('Australia', '2020-05-03', 6822, 95, 5849)]